<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <title>Tienda web Gasfiteria</title>
    
    <link rel="icon" type="image/jpg" href="/public/imagenes/ico/natural-gas.png"/>
  </head>
  <body>

  
      
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img src="/public/imagenes/ico/natural-gas.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
 
        <a class="navbar-brand" href=""> Ferreteria</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/" id="linkHome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inventario" id="linkInventario">Inventario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/carrito" id="linkCarrito">Carrito</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ventas" id="linkVentas">Ventas</a>
            </li>
          </ul>
        </div>
      </div>
              <i class="fa-solid fa-cart-shopping"><img src="/public/imagenes/ico/favicon-32x32.png" alt="iconoLogo" width="32" height="32" class="d-inline-block align-text-top"></i
                  ></a>
  
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cantidad-productos">0</a>
          </li>
        </ul>
      
</nav>

</header>
    <div>
      <h1 class="display-5 text-center py-2 bg-dark text-white">Calidad en Gasfiteria</h1>
    </div>
    <main class="container">
        {{{body}}}
    </main>
    
  </body>
</html>

<style>


  @import url('https://fonts.googleapis.com/css2?family=Rubik&family=Sarabun&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}
</style>

